[MASTER]
extension-pkg-allow-list=flask

[MESSAGES CONTROL]
disable=
    C0103,
    R0903,
    R0801,
    W0613,
    C0301

[BASIC]
good-names=i,j,k,ex,Run,_
variable-rgx=^[a-z][a-z0-9_]*$
class-rgx=^[A-Z_][a-zA-Z0-9]+$
function-rgx=^[a-z_][a-z0-9_]{2,30}$

[DESIGN]
max-args=8
max-locals=15
max-returns=6
max-branches=12
max-statements=50
max-parents=7